#conteudogeral {
  margin: 7rem 7rem 7rem 7rem;
}
#sobremim {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
}
#imagemsobremim {
  padding-top: 4rem;
  background-color: var(--primary-color);
}
#imagemsobremim img {
  width: 500px;
  height: auto;
}

.conteudosobremim h1 {
  font-size: 3rem !important;
}
.conteudosobremim h3 {
  font-size: 1.5rem !important;
}
.conteudosobremim p {
  font-size: 1rem !important;
  text-align: justify;
}
