#conteudogeral {
  margin: 6rem;
}
#sobremim {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  column-gap: 8rem;
}
#imagemsobremim {
  width: 100%;
  height: 25rem;
  background-color: var(--terciary-color);
}

.conteudosobremim h1 {
  font-size: 3rem !important;
}
.conteudosobremim h3 {
  font-size: 1.5rem !important;
}
.conteudosobremim p {
  font-size: 1rem !important;
  text-align: justify;
}

#sessaoum {
}
#sessaoum h1 {
}
#sobrecontatos {
}
#linkgithub {
}
#linkgithub img {
}
#descricaocontatos {
}
#imagemcontatos {
}
#descricaocontatos span {
}
#butao {
}
